<app-navbar></app-navbar>

<main>
  <section class="grid">
    <div class="card">
        <img src="https://i.ytimg.com/vi/HZ175-0YBs8/maxresdefault.jpg" class="card-img" alt="">
        <p class="card-category">Filmes</p>
        <h1 class="card-title">Harrison Ford é oficializado no MCU</h1>
        <p class="card-resume">Ator confirma entrada para o universo da Marvel</p>
    </div>
      
    <div class="card">
        <img src="https://cdn.ome.lt/gqyekqPimyH9H69nU17Tpex-zzQ=/987x0/smart/uploads/conteudo/fotos/thunderbolts-harrison-ford-capa.jpg" class="card-img" alt="">
        <p class="card-category">Filmes</p>
        <h1 class="card-title">Harrison Ford é oficializado no MCU</h1>
        <p class="card-resume">Ator confirma entrada para o universo da Marvel</p>
    </div>
      
    <div class="card">
        <img src="https://cdn.ome.lt/gqyekqPimyH9H69nU17Tpex-zzQ=/987x0/smart/uploads/conteudo/fotos/thunderbolts-harrison-ford-capa.jpg" class="card-img" alt="">
        <p class="card-category">Filmes</p>
        <h1 class="card-title">Harrison Ford é oficializado no MCU</h1>
        <p class="card-resume">Ator confirma entrada para o universo da Marvel</p>
    </div>
      
    <div class="card">
        <img src="https://cdn.ome.lt/gqyekqPimyH9H69nU17Tpex-zzQ=/987x0/smart/uploads/conteudo/fotos/thunderbolts-harrison-ford-capa.jpg" class="card-img" alt="">
        <p class="card-category">Filmes</p>
        <h1 class="card-title">Harrison Ford é oficializado no MCU</h1>
        <p class="card-resume">Ator confirma entrada para o universo da Marvel</p>
    </div>
      
    <div class="card">
        <img src="https://i.ytimg.com/vi/HZ175-0YBs8/maxresdefault.jpg" class="card-img" alt="">
        <p class="card-category">Filmes</p>
        <h1 class="card-title">Harrison Ford é oficializado no MCU</h1>
        <p class="card-resume">Ator confirma entrada para o universo da Marvel</p>
    </div>

  </section>
  
  <section class="categories-news">
    <div class="news">
        <div class="news-card" *ngFor="let item of MAIN_CATEGORY">
            <img src="{{ item.img }}" alt="" class="news-card-img">
            <h4 class="news-card-text">{{ item.title }}</h4>
        </div>
    </div>
    <ul class="categorie">
        <li><button class="categorie-item" (click)="ChangeCategory('tech')">Tecnologia</button></li>
        <li><button class="categorie-item" (click)="ChangeCategory('sports')">Esportes</button></li>
        <li><button class="categorie-item" (click)="ChangeCategory('movies')">Filmes</button></li>
        <li><button class="categorie-item" (click)="ChangeCategory('series')">Séries</button></li>
    </ul>
  </section>
</main>