$text-primary: #b6b6b6;
$text-secondary: #ececec;
$bg-primary: #23232e;
$bg-secondary: #141418;
$transition-speed: 600ms;

.grid {
  display: grid;
  grid-auto-rows: 1fr;
  animation: FadeIn 1s;
}

.card {
  align-items: flex-start;
  border-radius: 8px;
  padding: 0.5rem;
  margin: 1rem;

  .card-img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 1rem;
  }

  .card-category {
    background-color: yellow;
    text-align: center;
    width: 4rem;
    margin-bottom: 1rem;
    border-right: 10px solid orchid;
    border-radius: 4px;
  }

  .card-title {
    margin-bottom: 1rem;
  }

  .card-text {
    margin-bottom: 1rem;
  }
}

.recent-news {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;

  p,
  i {
    font-size: 0.9rem;
  }
}
.recent-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  width: 100%;
}

.recent-card:last-child {
  margin-bottom: 5rem;
}

.recent-img {
  width: 25%;
  height: 10rem;
  border-radius: 4px;
  object-fit: cover;
}

.recent-content {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  width: 30%;
}

.recent-info {
  display: flex;
  justify-content: space-between;

  .recent-category {
    background-color: yellow;
    text-align: center;
    padding: 0.4rem;
    border-right: 10px solid orchid;
    border-radius: 4px;
  }
}

.recent-text {
  margin: 2rem 0;
}

@media only screen and (max-width: 992px) {
  .grid {
    margin-bottom: 5rem;
    grid-template-columns: 1fr;
  }
  .categories-news {
    display: none;
  }
  .recent-news {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  main {
    padding: 0 10rem;
  }
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .card:first-child {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-row: span 1;
    grid-column: span 2;

    .card-img {
      height: 500px;
    }

    .card-resume {
      display: block;
    }
  }
  // Section Categories
  .categories-news {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -10rem;
  }
  .news {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row: span 1;
    grid-column: span 1;
    gap: 1rem;
    padding: 3rem;

    .news-card {
      .news-card-img {
        width: 100%;
        border-radius: 5px;
        object-fit: cover;
      }
      .news-card-text {
        text-align: center;
        color: black;
      }
    }

    .news-card:not(:hover) {
      opacity: 0.9;
    }
  }
  .category {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 5rem;
    list-style: none;
    .categorie-item {
      padding: 1rem;
      text-decoration: none;
      color: white;
      background: $bg-primary;
      border: none;
    }
    .categorie-item:hover {
      background: linear-gradient(to top, #1474fc, $bg-primary);
    }
  }
  .news {
    animation: FadeIn 1s;
  }
}

@keyframes FadeIn {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 1;
  }
}
