<app-navbar></app-navbar>

<main>
  <section class="grid">
    <div class="card">
        <img src="https://i.ytimg.com/vi/HZ175-0YBs8/maxresdefault.jpg" class="card-img" alt="">
        <p class="card-category">Filmes</p>
        <h1 class="card-title">Harrison Ford é oficializado no MCU</h1>
        <p class="card-resume">Ator confirma entrada para o universo da Marvel</p>
    </div>
      
    <div class="card">
        <img src="https://cdn.ome.lt/gqyekqPimyH9H69nU17Tpex-zzQ=/987x0/smart/uploads/conteudo/fotos/thunderbolts-harrison-ford-capa.jpg" class="card-img" alt="">
        <p class="card-category">Filmes</p>
        <h1 class="card-title">Harrison Ford é oficializado no MCU</h1>
        <p class="card-resume">Ator confirma entrada para o universo da Marvel</p>
    </div>
      
    <div class="card">
        <img src="https://cdn.ome.lt/gqyekqPimyH9H69nU17Tpex-zzQ=/987x0/smart/uploads/conteudo/fotos/thunderbolts-harrison-ford-capa.jpg" class="card-img" alt="">
        <p class="card-category">Filmes</p>
        <h1 class="card-title">Harrison Ford é oficializado no MCU</h1>
        <p class="card-resume">Ator confirma entrada para o universo da Marvel</p>
    </div>
      
    <div class="card">
        <img src="https://cdn.ome.lt/gqyekqPimyH9H69nU17Tpex-zzQ=/987x0/smart/uploads/conteudo/fotos/thunderbolts-harrison-ford-capa.jpg" class="card-img" alt="">
        <p class="card-category">Filmes</p>
        <h1 class="card-title">Harrison Ford é oficializado no MCU</h1>
        <p class="card-resume">Ator confirma entrada para o universo da Marvel</p>
    </div>
      
    <div class="card">
        <img src="https://i.ytimg.com/vi/HZ175-0YBs8/maxresdefault.jpg" class="card-img" alt="">
        <p class="card-category">Filmes</p>
        <h1 class="card-title">Harrison Ford é oficializado no MCU</h1>
        <p class="card-resume">Ator confirma entrada para o universo da Marvel</p>
    </div>

  </section>  
</main>