/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css?family=Open+Sans");

:root {
  font-size: 16px;
  font-family: "Open Sans";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}
